@import "tailwindcss";


@theme inline {
  --font-ibm-plex-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
   color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
  word-break: keep-all;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

.pdf-page canvas {
  background-color: #1bfa1b !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}